body {
    background-color: #333c;
}

/* Tooltip */
#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    border-radius: 0.8rem;
    box-shadow: 3px 3px 3px 0px #aaa;
    border: 1px solid #ddd;
    padding: 10px;
}
.tooltip-title {
    color: #000;
    font-size: 1rem;
    font-weight: bold;
}
#tooltip ul {
    font-size: 0.8rem;
    margin: 5px 0 0 0;
    padding-left: 20px;
}

.threepie {
    display: flex;
    width: 100vw;
}

.threepie .treemapchart {
    flex: 0.6;
}
.threepie .piechart {
    flex: 0.4;
}

.pieTitle {
    text-anchor: middle;
    font-size: 0.8rem;
    font-weight: bold;
    fill: #000;
}

.pieLabel {
    font-size: 0.6rem;
}

.legend-item {
    font-size: 0.8rem;
}

.pieLegend {
    font-size: 0.8rem;
}